.pageContainer {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.firstCardLine {
    display: flex;
    gap: 10px;
}

.secondCardLine {
    display: flex;
    gap: 10px;
}