.pageContainer {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.firstCardLine {
  display: flex;
  gap: 10px;
}

.secondCardLine {
  display: flex;
  gap: 10px;
}

/* Mobile */

.pageContainerMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 13 15px;
}
