.productSlider {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.sliderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sliderHeader h2 {
  font-size: 1.5em;
}

.sliderMore {
  color: #007bff;
  text-decoration: none;
}

.productCard {
  padding: 10px;
  text-align: center;
  max-width: 430px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #edd9d9;
}

.productCard img {
  max-width: 100%;
  border-radius: 8px;
}

.productInfo {
  margin-top: 10px;
}

.productInfo h3 {
  font-size: 1em;
  font-weight: bold;
}

.productInfo p {
  color: #777;
}

.productPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.productPrice button {
  background-color: #ff4d4d;
  border: none;
  color: #fff;
}
