@font-face {
  font-family: "StyreneALCRegular";
  src: url("../../assets/fonts/styrenealc-regular.otf");
}

@font-face {
  font-family: "StyreneALCBlack";
  src: url("../../assets/fonts/styrenealc-black.otf");
}

.card {
  background-color: white;
  max-width: 550px;
  border-radius: 40px;
  padding: 10px 20px;
  padding-bottom: 40px;
}

.cardDark {
  background-color: #232323;
  max-width: 550px;
  border-radius: 40px;
  padding: 10px 20px;
  padding-bottom: 40px;
}

.card h1 {
  color: red;
  font-family: "StyreneALCBlack";
  margin: 4px 0;
  margin-bottom: 20px;
}

.cardDark h1 {
  color: red;
  font-family: "StyreneALCBlack";
  margin: 4px 0;
  margin-bottom: 20px;
}

.account {
  display: flex;
  gap: 40px;
}

.textAccContainer {
  font-family: "StyreneALCRegular";
}

.textAccContainerDark {
  font-family: "StyreneALCRegular";
}

.accountsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.textAccContainer h4 {
  margin: 4px 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 22px;
}

.textAccContainerDark h4 {
  margin: 4px 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 22px;
  color: white;
}

.accIconContainer {
  position: relative;
  width: 100px;
  height: 100px;
}

.icon-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.purpleCircle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  width: 124px;
  height: 124px;
  z-index: 1;
}

.redSimeCircle {
  position: absolute;
  top: 5px;
  left: 62px;
  width: 62px;
  height: 124px;
  z-index: 2;
}

.whiteCircle {
  position: absolute;
  top: 110px;
  left: 63px;
  width: 20px;
  height: 20px;
  z-index: 3;
}

.percentage {
  position: absolute;
  top: 68px;
  left: 63px;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: black;
  font-family: "StyreneALCBlack";
}

.percentageDark {
  position: absolute;
  top: 68px;
  left: 63px;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: white;
  font-family: "StyreneALCBlack";
}

.textAccContainer p {
  margin: 4px 0;
}

.textAccContainerDark p {
  margin: 4px 0;
  color: white;
}

.accParams {
  color: #d5d5d5;
}

.moneyValues {
  display: flex;
  justify-content: space-between;
  font-family: "StyreneALCBlack";
  width: 380px;
}

.moneyValuesDark {
  display: flex;
  justify-content: space-between;
  font-family: "StyreneALCBlack";
  width: 380px;
  color: white;
}

.moneyRange {
  position: relative;
  height: 20px;
}

.grayLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.redLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.whiteCircleMoneyRange {
  position: absolute;
  top: 2px;
  left: 190px;
  z-index: 3;
}

.whiteCircleMoneyRangeLong {
  position: absolute;
  top: 2px;
  left: 80px;
  z-index: 3;
}
